*.js
!jest.config.js
*.d.ts
node_modules

# vsc
**/.DS_Store
.vscode/**

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

codes/**/*.pyc

script/cdk-output.json